body {
	text-align: center;
}
canvas {
	border: 1px dashed green;
	background-image: url('../images/highway.jpg');
}

.menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 150px;
	width: 200px;
	height: 100px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
}

.menu img {
	width: 90px;
	height: 50px;
}

.frog-lives {
	display: flex;
	justify-content: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
}

.lives {
	margin-left: 10px;
}
